# APP 
NODE_ENV=development
PORT=3000:3000
# Default Thresholds (in Celsius)
DEFAULT_HOT_THRESHOLD=35
DEFAULT_COLD_THRESHOLD=22

# DB 
DATABASE_URL=postgresql://super_secure_user:super_secure_password@db:5432/temp_sensor?schema=public
DB_USER=super_secure_user
DB_PASSWORD=super_secure_password
DB_NAME=temp_sensor